@import url(variables.css);

*{
    margin: 0;
    padding: 0;
    font-family: "Anek Devanagari", sans-serif;
    
}
body{
    background: var(--color-background);
    color: var(--color-font);
}
.header{
    height: 4vh;
    font-size: 2em;
    padding-left: 1vh;
    background: red;
}