<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/detalles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="header">
        <div>
            <a href="../index.html"><i class='bx bxs-exit' style='color:#ffffff' ></i></a>
        </div>
        <div>
            <h1>Detalles</h1>
        </div>
    </header>
    <div class="container">
        <div class="Products">
            <div class="BoxProduct">
                <img src="../storage/img/D_NQ_NP_2X_618657-MCO69523195685_052023-F.webp" alt="">
            </div>
            <div class="section2Product">
                <div>
                    <h2>Nombre del producto</h2>
                </div>
                <div>
                    <i class='bx bxs-checkbox-checked'></i>
                </div>
            </div>
            <div class="section3Product">
                <div>
                    <input type="text" placeholder="3">
                </div>
                <div>
                    <h3>$500.000</h3>
                </div>
                <div>
                    <p>$499.999</p>
                </div>
            </div>
        </div>
        <div class="Products"></div>
        <div class="Products"></div>
        <div class="Products"></div>
        <div class="Products"></div>
        <div class="Products"></div>
        <div class="Products"></div>
        <div class="Products"></div>
        <div class="Products"></div>
        <div class="Products"></div>
        <div class="Products"></div>
        <div class="Products"></div>
        <div class="Products"></div>
        <div class="Products"></div>
        <div class="Products"></div>
        <div class="Products"></div>
    </div>
</body>
</html>