<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/listProduct.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="header">
        <div>
            <a href="../index.html"><i class='bx bxs-exit' style='color:#ffffff' ></i></a>
        </div>
    </header>
    <div class="Lista">
        <div><a href="../index.html#Producto1">Producto 1</a></div>
        <div><a href="../index.html#Producto2">Producto 2</a></div>
        <div><a href="">Producto 3</a></div>
        <div><a href="">Producto 4</a></div>
        <div><a href="">Producto 5</a></div>
        <div><a href="">Producto 6</a></div>
        <div><a href="">Producto 7</a></div>
        <div><a href="">Producto 8</a></div>
        <div><a href="">Producto 9</a></div>
        <div><a href="">Producto 10</a></div>
        <div><a href="">Producto 11</a></div>
        <div><a href="">Producto 12</a></div>
        <div><a href="">Producto 13</a></div>
        <div><a href="">Producto 14</a></div>
        <div><a href="">Producto 15</a></div>
        <div><a href="">Producto 16</a></div>    
    </div>
</body>
</html>